/* UTILITIES */
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.col-7{
    width: 70%;
}
.col-3{
    width: 30%;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    /* width: 100%; */
}
.col-auto{
    flex-grow: 1;
}

.column{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* VAR  */


:root{
    --main-open-chat-area: #01051a;
    --header-open-chat-area: #000823;
    --header-aside: #000823;
    --aside-notification: #0b2781;
    --aside-chat-list: #01051a;
    --aside-chat-list-border: #2d2e33;
    --open-chat-area-sent: #1e1432;
    --open-chat-area-recieved: rgb(39, 20, 20);
    --main-text-color: white;
    --small-text-color: rgb(141, 138, 138);
    --send-mess-footer: #01051a;
    --height-of-header: 70px;
    --height-of-notification: 75px;
    --height-of-type-to-chat: 65px;
}
/* var() */