/* UTILITIES */
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.col-7{
    width: 70%;
}
.col-3{
    width: 30%;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    /* width: 100%; */
}
.col-auto{
    flex-grow: 1;
}

.column{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.display-none{
    display: none;
}
/* .display{
    display: block;
} */
/* VAR  */


:root{
    --main-open-chat-area: #2f48c6;
    --header-open-chat-area: #235e51;
    --header-aside: #235e51;
    --aside-notification: #3c8e7c;
    --aside-contact-list: #235e51;
    --aside-contact-list-border: #2d2e33;
    --open-chat-area-sent: #1c5f70;
    --open-chat-area-recieved: rgb(104, 134, 7);
    --main-text-color: white;
    --small-text-color: rgb(141, 138, 138);
    --send-mess-footer: #235e51;
    --height-of-header: 70px;
    --height-of-notification: 75px;
    --height-of-type-to-chat: 65px;
}
/* var() */