/* UTILITIES */
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: end;
}
.align-start{
    align-items: start;
}
.col-7{
    width: 70%;
}
.col-3{
    width: 30%;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
.col-auto{
    flex-grow: 1;
}
.column{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.display-none{
    display: none;
}
.display{
    display: block;
}
.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
}



/* VAR  */


:root{
    --main-text-color: white;
    --small-text-color: rgb(140, 154, 169);
    --height-of-header: 70px;
    --height-of-notification: 75px;
    --height-of-type-to-chat: 65px;
}
/* base theme */
.theme-base-header-footer{
    background-color: #EAEAEA;
    color: black;
}
.theme-base-notification{
    background-color: #8EDAFC;
}
.theme-base-contact-list{
    background-color: white;
    border-color: #565656;
    color: black;
}
.theme-base-sent{
    background-color: #D5F9BA;
    color: black;
}
.theme-base-received{
    background-color: white;
    color: black;
}
.theme-base-background{
    background-image: url('../img/mine.jpg');
}
/* :class="{'theme-one-contact-list':themes[0].singleThemeFlag}" */
/* theme1 */
/* .theme-one-header-footer{
    background-color: #235e51;
}
.theme-one-notification{
    background-color: #3c868e;
}
.theme-one-contact-list{
    background-color: #276d62;
    border-color: #2d2e33;
}
.theme-one-sent{
    background-color: #1c5f70c1;
}
.theme-one-received{
    background-color: rgba(155, 96, 7, 0.694);
}
.theme-one-background{
    background: linear-gradient(rgba(21, 84, 29, 0.395), rgba(17, 84, 36, 0.413)),url('../img/mine.jpg');
} */
/* theme2 */
/* .theme-two-header-footer{
    background-color: #000000;
}
.theme-two-notification{
    background-color: #4b2c3b;
}
.theme-two-contact-list{
    background-color: #3c3f3e;
    border-color: #4f4f54;
}
.theme-two-sent{
    background-color: #9c288a91;
}
.theme-two-received{
    background-color: rgba(19, 120, 160, 0.694);
}
.theme-two-background{
    background: linear-gradient(rgba(0, 0, 0, 0.365), rgba(0, 0, 0, 0.393)),url('../img/mine.jpg'); */
/* } */
