<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp con Vue</title>
</head>
<body class="debug">
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="column">
                        <header>
                            <div class="profile row">
                                <div class="profile-pic">                                  
                                    <img :src="contacts[0].avatar" alt="">
                                </div>
                                <div class="tools">
                                    button
                                </div>
                            </div>
                            <div class="notification">
                                BELL ricevi mess
                            </div>
                            <div class="search-bar">
                                SEARCHBAR
                            </div>
                        </header>
                        <div class="chat-list">
                            <ul>
                                <li v-for="(element, index) in contacts"
                                @click="changeChat(index)">
                                    <div class="row">
                                        <div class="profile-pic">
                                            <img :src="element.avatar" alt="">
                                        </div>
                                        <div class="chat-list-body">
                                            <div class="name">
                                                {{element.name}}
                                            </div>
                                            <div class="last-sent-mess">
                                                last sent mess
                                            </div>
                                        </div>
                                        <div class="last-seen">
                                            xx:xx
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                     </div>   
                </div>
                <div class="col-7">
                    <div class="column">
                        <header>
                            <div class="row">
                                <div class="profile-pic">
                                    <img :src="contacts[indexContacts].avatar" alt="">
                                </div>
                                <div class="chat-functions">
                                    X X X
                                </div>
                            </div>
                        </header>
                        <div class="chat-area">
                            <ul class="column">
                                <li v-for="(element,index) in contacts[indexContacts].messages"
                                :class="{'sent':element.status == 'sent',
                                        'recieved':element.status == 'received'}">
                                    <div class="chat-text">
                                       {{element.message}} 
                                    </div>
                                    
                                </li>
                            </ul>
                        </div>
                        <div class="chat-type-area">
                            <div class="row">
                                <div class="emoji">
                                    button
                                </div>
                                <input type="text" placeholder="type to chat">
                                <div class="send">
                                    button
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js" type="text/javascript"></script>
</body>
</html>