<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Boolzapp con Vue</title>
</head>
<body class="debug">
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="column">
                        <header>
                            <div class="profile row">
                                <div class="user row">
                                    <div class="profile-pic">                                  
                                        <img :src="contacts[0].avatar" alt="">
                                        
                                    </div>
                                    <span class="user-name">
                                        Nobody
                                    </span>
                                </div>
                                <div class="tools ">
                                    <div class="row">
                                        <div class="profile-functions">
                                            <i class="fa-solid fa-circle-notch"></i>
                                        </div>
                                        <div class="profile-functions">
                                            <i class="fa-solid fa-message"></i>
                                        </div>
                                        <div class="profile-functions">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="notification row">
                                <div class="alert">
                                    <i class="fa-solid fa-bell-slash"></i>
                                </div>
                                <div class="alert-text">
                                    <span>
                                        Ricevi notifiche di nuovi messaggi
                                    </span>
                                    <a href="#/">
                                        attiva notifiche desktop
                                    </a>
                                </div class="alert-text">
                            </div>
                            <div class="search-bar">
                                <input @keyup="searchFunction()"
                                v-model="searchChat" type="text" placeholder="search in chat list">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </header>
                        <div class="chat-list">
                            <ul>
                                <li v-for="(element, index) in contacts"
                                @click="changeChat(index)"
                                :class="{'display-none': element.visible== false}">
                                    <div class="row">
                                        <div class="profile-pic">
                                            <img :src="element.avatar" alt="">
                                        </div>
                                        <div class="chat-list-body">
                                            <div class="name">
                                                {{element.name}}
                                            </div>
                                            <div class="last-sent-mess">
                                                last sent mess
                                            </div>
                                        </div>
                                        <div class="last-seen">
                                            xx:xx
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                     </div>   
                </div>
                <div class="col-7">
                    <div class="column">
                        <header>
                            <div class="row">
                                <div class="profile-pic">
                                    <img :src="contacts[indexContacts].avatar" alt="">
                                </div>
                                <div class="chat-functions">
                                    X X X
                                </div>
                            </div>
                        </header>
                        <div class="chat-area">
                            <ul class="column">
                                <li v-for="(element,index) in contacts[indexContacts].messages"
                                :class="{'sent':element.status == 'sent',
                                        'recieved':element.status == 'received'}">
                                    <div class="chat-text">
                                       {{element.message}} 
                                    </div>
                                    
                                </li>
                            </ul>
                        </div>
                        <div class="chat-type-area">
                            <div class="row">
                                <div class="emoji">
                                    button
                                </div>
                                <input v-model="newChat" type="text" placeholder="type to chat">
                                <div class="send">
                                    <button @click="sendMessage();responseMessage()">
                                        send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js" type="text/javascript"></script>
</body>
</html>